*{ 
    box-sizing:border-box;
    margin:0;
    padding:0; 
    scroll-behavior: smooth;
    -webkit-scroll-behavior:smooth;
    -moz-scroll-behavior:smooth;
    -o-scroll-behavior:smooth;
}
body{
    font-family: 'Gotham Bold', sans-serif; 
    font-size:1.3rem;
    position:absolute;
    margin-right:-2rem;
    overflow-x: hidden;
}
h1{
    color:#224e8d;
}
header{
    display:flex;
    background-image:url(images/background.jpg);
    width:auto;
    top:0;
    position:sticky;
}


.hero-section{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height:700px;
    text-align: center;
    border-bottom-left-radius: 35%;
}
#hero-heading{
    font-size: 4rem;
    color: #b69456; 
    padding-top: 4rem;
}
#hero-description{
    color:#c0c0c0;
}
.logo{ 
    width:16rem;
    height:10rem; 
}
nav{
    margin-left:15rem;
    margin-top:2rem;
}
nav li{
display:inline-block;
padding:1rem;
font-size:1.5rem;
}

nav li a {
    text-decoration:none;
    color:#c0c0c0;
}
nav li a:hover{
    color:#b69456;
}
.hamburger-menu{
    display:none;
    width:3rem;
    height:3rem;
    margin:5rem 0 0 85%;
    cursor: pointer;
	position:fixed;
}

 p{
    font-size:1.5rem;
    font-weight:100;
    color:#b69456;
}

.contact-us{
    padding:1rem;
    width:10rem;
    height:3.5rem;
    background-color:#b69456;
    color:#f8f8f8;
    text-decoration:none;
    border-radius:5px 5px 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contact-us:hover{
    background-color:#224e8d;
    transition:0.4s ease-in-out;
}
.about-header{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.about-contents{
display:flex;
justify-content: space-around;
margin-left: 4rem;
margin-right:4rem;
color:#b69456;
}
.about-contents img {
    width:25rem;
    height:20rem;
    margin-top:-3rem;
}
.about-us{
    margin-left:5rem;
    margin-right:2rem;
    line-height: 1.8rem;
}
.more-header{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
/*          -------------------------- BRAND IMAGES---------------------------          */

.brand-container, .brand-container-1, .brand-container-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
.brand-container img{
    width:25rem;
    height:20rem;
    border-top-right-radius: 30px;
    margin:1.5rem 2rem 1rem 0.5rem;
}
.brand-container-1 img{
    width:30rem;
    height:20rem;
    border-radius: 5px;
    border-top-right-radius: 30px;
    margin:1.5rem 2rem 1rem 1rem;
}
.brand-container-2 img{
    width:30rem;
    height:20rem;
    border-radius: 5px;
    border-top-right-radius: 30px;
    margin:1.5rem 2rem 1rem 1rem;
}
/*          ----------------------------------------------------          */
.logo-variants{         
    display:flex;
    justify-content: center;
}
.logo-variants img{
    box-shadow: 5px 5px 5px 5px rgb(221, 220, 220);
    
}

.background{
    background-color:#e2e2e2;
    border-radius:50%;
}
.logo-usage-header{
    margin:3rem 0 3rem 4rem;
}
.logo-usage-container{
    display:grid;
    grid-template-rows: repeat(2(auto));
    grid-template-columns: repeat(2(1fr));
    margin:1rem 0 0 -3rem;
    color:#b69456;
}
span{
    color:#224e8d;
}
.logo1{
    grid-row: 1/2;
    grid-column:1/2;
    margin:0 5rem 2rem 7rem;
    text-align: center;
}
.logo2{
    grid-row: 1/2;
    grid-column:2/3;
    margin:0 5rem 2rem 0;
    text-align: center;
}
.logo3{
    grid-row: 2/3;
    grid-column:1/2;
    margin:0 5rem 2rem 7rem;
    text-align: center;
}
.logo4{
    grid-row: 2/3;
    grid-column:2/3;
    margin:0 5rem 2rem 0;
    text-align: center;
}

.logo-usage-container img {
    margin-top:1.5rem;
    margin-bottom:2rem;
    height:10rem;
    width:15rem;
}

.items-image, .items-image-1,.items-image-2,.items-image-3{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:1rem -1rem;
}
.items-image img, .items-image-1 img,.items-image-2 img,.items-image-3 img{
    width:20rem;
    height:20rem;
    padding:0 1rem;
} 

.contact-header{
    display: flex;
    justify-content: center;
    margin:3rem;
}
.contact-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-section img {
    width:30rem;
    height:35rem;
}

footer{
    background-color:#224e8d;
    height:580px;
    margin-top:5rem;
    margin-right:-1rem;
    border-top-right-radius:70%;
}
footer h1{
    color:#b69456;
    padding:3rem 0 1rem 1rem;
}
.social-icons{
    display:flex;
}
.social-icons img{
    cursor:pointer;
    margin-left:1rem;
    margin-top:1rem;
}
.social-icons img:hover{
    filter:grayscale(100%);
    transition:0.3s;
}
footer p{
    color:#c0c0c0;
    padding:0 0 0 2rem;
}
@media screen and (max-width:800px){    /*  MOBILE AND TABLET*/
    header{
      padding-top:1rem;
      margin-right:-2rem;
    }
    .hero-section{
      margin-right:-2rem;
    }
    .logo{
      width:14rem;
      height:11rem; 
    }
    .hamburger-menu{
        display:block;
        margin-top:2rem;
        width:4rem;
        height:4rem;
    }
    nav{
        display:block;
        z-index: 1;
        margin:6rem auto;
        width:100%;
        text-align: center;
        position:absolute;
        }
    nav li{
        background-color: #224e8d;
        display: none;
        animation:anime 1s ease-in-out;
        border-bottom: 1px solid #b69456;
    }
    @keyframes anime{
    0%{opacity:0}
    100%{opacity:1}
    }

    #hero-heading{
    text-align: center;
    font-size: 3rem;
    padding-top:6rem;
    }
    #hero-description{
        font-size: 1.3rem;
    }
    
    .about-contents{
        flex-wrap: wrap;
        margin-left:1rem;
    }
    .about-us{
        margin:1rem 0 0 1rem;
    }

    .logo-variants{
        margin:1rem;
    }
    .logo-variants img{
        width:25rem;
        height:35rem;
    }
    .logo-usage-header{
        margin:2rem 0 0 4rem;
    }
    .logo-usage-container{
        margin:2rem 0 0 1rem;
    }
    .logo1{
        grid-row:1/2;
        grid-column:1/2;
        margin-left:3rem;
    }
    .logo2{
        margin-left:3rem;
        grid-row:2/3;
        grid-column:1/2;
    }
    .logo3{
        margin-left:3rem;
        grid-row:3/4;
        grid-column:1/2;
    }
    .logo4{
        margin-left:3rem;
        grid-row:4/5;
        grid-column:1/2;
    }
    
    .items-image img, .items-image-1 img, .items-image-2 img, .items-image-3 img {
        margin:1rem;
    }
    footer{
    height:500px;
    margin-right:-1.5rem;
    }
    .social-icons{
    margin-bottom:4rem;
    }
	footer h1 {
		color:#b69456;
        padding:2rem 0 0 0;
        font-size: 2rem;
}
	footer p{
        padding:0;
        font-size: 1.2rem;
	}
}
@media screen and (min-width:801px) and (max-width:1000px){
    nav{
        margin-left:1rem;
    }
    
    .about-contents{
        flex-wrap: wrap;
        margin-left:1rem;
    }
    .about-us{
        margin:1rem 0 0 1rem;
    }
   
    .logo-variants{
        margin:2rem 8rem;
    }
    .logo-variants img{
        width:30rem;
        height:30rem;
    }
    .logo-usage-header{
        margin:2rem 0 0 8rem;
    }
    .logo-usage-container{
        margin:2rem 0 0 4rem;
    }
    .logo1{
        grid-row:1/2;
        grid-column:1/2;
        margin-left:3rem;
    }
    .logo2{
        margin-left:3rem;
        grid-row:2/3;
        grid-column:1/2;
    }
    .logo3{
        margin-left:3rem;
        grid-row:3/4;
        grid-column:1/2;
    }
    .logo4{
        margin-left:3rem;
        grid-row:4/5;
        grid-column:1/2;
    }
    #books, #identity, #caps{
        padding-top:1rem;
    }
    .contact-section{
        flex-wrap:wrap;
    }
    .contact-section img {
        margin-top:-1rem;
        width:20rem;
        height:30rem;
    }
}
